header, main, footer {
    /* outline: 1px solid red; */
}

div, img {
    /* outline: 1px solid red; */
}

header {
    position: relative;
    min-width: 100px;
    width: 50vw;
    height: 12vh;
    margin: 1em auto;
    font-family: Arial;
    border-radius: 10px;
    border: 2px solid grey;
}

header::after {
    content: '';
    display: block;
    clear: both;
}

.logo, .score {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px 10px;
}

.logo {
    float: left;
}

.score {
    float: right;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
}

.scoreNumber {
    font-size: 40px;
    line-height: 1;
}

main {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 50vh;
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
}

.icon {
    display: inline-block;
    position: absolute;
    width: calc(60px + 10vmin);
    height: calc(60px + 10vmin);
    background: #ccc;
    border-radius: 50%;
    border-width: 20px;
    border-style: solid;
    /* outline: 1px solid red; */
    left: 50%;
    top: 50%;
}

.paper {
    transform: translateX(-110%) translateY(-120%);
    border-color: #3498db;
}

.scissors {
    transform: translateX(10%) translateY(-120%);
    right: 20%;
    border-color: goldenrod;
}

.rock {
    transform: translateX(-50%) translateY(0%);
    border-color: crimson;
}

.icon img {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
}
