.icon {
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    border-width: 20px;
    border-style: solid;
    cursor: pointer;
}

.icon img {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.result-layout {
    position: relative;
    /* margin-bottom: -20px; */
    /* margin-top: 12em; */
}

.result-header::after {
    content: '';
    display: table;
    clear: both;
}

.label {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
}

.float-left { float: left; }
.float-right { float: right; }

.w40 { width: 40%; }
.w60px { width: 60px; }

.blue-border { border-color: #3498db; }
.yellow-border { border-color: goldenrod; }
.red-border { border-color: crimson; }

.normal {
    width: calc(60px + 10vmin);
    height: calc(60px + 10vmin);
}

.big {
    width: calc(100px + 10vmin);
    height: calc(100px + 10vmin);
}

.align-from-center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-middle { transform: translate(-50%, -50%); }

.top-left { transform: translate(-120%, -120%); }
.top-right { transform: translate(20%, -120%); }
.bottom-center { transform: translate(-50%, 0%); }

.left-middle { transform: translate(-140%, -50%); }
.right-middle { transform: translate(40%, -50%); }

button {
    padding: 0.4em 1em;
}

.game {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 50vh;
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
}

.bg-triangle {
    background-image: url('../../../images/bg-triangle.svg');
}
