/* div { outline: 1px solid red } */

.icon {
    position: relative;
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    border-width: calc(10px + 1vmin);
    border-style: solid;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

/* .icon img {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
} */

.result-layout {
    position: relative;
    /* margin-bottom: -20px; */
    /* margin-top: 12em; */
}

.result-layout::after {
    content: '';
    display: table;
    clear: both;
}

.label {
    text-align: center;
    font-family: sans-serif;
    font-size: calc(0.8rem + 2vmin);
    margin: 0 auto;
}

.label p {
    padding: 5px 0;
}

.float-left { float: left; }
.float-right { float: right; }

.w20 { width: 20%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w60px { width: 60px; }
.w100px { width: 100px; }

.blue-border { border-color: #3498db; }
.yellow-border { border-color: goldenrod; }
.red-border { border-color: crimson; }

.normal {
    width: calc(40px + 12vmin);
    height: calc(40px + 12vmin);
}

.big {
    width: calc(60px + 12vmin);
    height: calc(60px + 12vmin);
}

.align-from-center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-middle { transform: translate(-50%, -50%); }

.top-left { transform: translate(-120%, -120%); }
.top-right { transform: translate(20%, -120%); }
.bottom-center { transform: translate(-50%, 0%); }

.left-middle { transform: translate(-140%, -50%); }
.right-middle { transform: translate(40%, -50%); }

button {
    padding: 0.4em 1em;
    /* border-radius: 5px; */
}

.game {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100px + 20vmin);
    /* min-width: 300px; */
    min-height: 50vh;
    height: 60vh;
    margin: 0 auto;
}

.bg-paper { background-image: url('../../../images/icon-paper.svg'); }
.bg-rock { background-image: url('../../../images/icon-rock.svg'); }
.bg-scissors { background-image: url('../../../images/icon-scissors.svg'); }
.bg-triangle { background-image: url('../../../images/bg-triangle.svg'); }
